<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie detail</title>
</head>
<body>
<h1>{{ movie.title }}</h1>
<h2><strong>Director:</strong> {{ movie.director }}</h2>
<h2><strong>Release Year:</strong> {{ movie.release_year }}</h2>
<h2><strong>Genre:</strong> {{ movie.genre }}</h2>
<a href="{{ movie.get_update_url }}"><button>Update</button></a>
<a href="{{ movie.get_delete_url }}"><button>Delete</button></a>
<a href="{% url 'movies:list' %}"><button>Back to List</button></a>
</body>
</html>